$primary: #7858D1;
$secondary: #FF9100;

$light-1: hsla(0, 0%, 100%, 1);
$light-2: hsla(223, 13%, 87%, 1); 
$d1: hsla(0, 0%, 20%, 1);
$dark-2: hsla(0, 0%, 0%, 0.15);
$d2: #555;
$p1: #FFC324;
$g1: #FFB714;
$g2: #FFE579;

$text-primary: rgb(13, 26, 38);
$text-secondary: rgb(13, 26, 38, 0.8);

$background-primary: #fff;
$background-secondary: #f4f3f6;